html
  head
    title="Systêxtil Push Demo"
  body
    h1="Systêxtil Push Demo"
    div(class="row")
      div(class="col-md-6")
        div(class="checkbox")
          input#enable-push(type="checkbox" text="teste")