<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="scripts/indexdbwrapper.js"></script>
    <script src="users.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="row">
	<div class="col-md-6">
	  <form>
	      <div class="form-group">
		<label for="destination">Para:</label>
		<input class="form-control" id="destination" placeholder="copie um id abaixo">
	      </div>
	      <div class="form-group">
		<label for="title">Título:</label>
		<input class="form-control" id="title" placeholder="minhocas">
	      </div>
	      <div class="form-group">
		<label for="msg">Mensagem:</label>
		<input class="form-control" id="msg" placeholder="assassinas">
	      </div>
      <button id="send-notif-button" class="btn btn-default">
		Enviar
      </button>
	</form>
	</div>
      </div>
      <div class="row">
	<div class="col-md-6">
	  <table class="table table-condensed">	  
	    <% for(var i=0; i<users.length; i++) { %>
	       <tr>
		 <td><%= users[i].name %></td>
		 <td><%= users[i].subId %></td>
	       </tr>
	       <% } %>
	  </table>
	</div>
      </div>
    </div>
  </body>
</html>
